DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=patio_sarduy

MINIO_ENDPOINT=http://localhost:9000
MINIO_REGION=us-east-1
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=images
MINIO_PUBLIC_BASE_URL=http://localhost:9000

UPLOAD_MAX_FILE_SIZE_BYTES=5242880
UPLOAD_PRESIGNED_URL_EXPIRES_SECONDS=120
